<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.chrome.tools.repository.mall.ProcessorMapper">
  <resultMap id="BaseResultMap" type="com.google.chrome.tools.model.mall.Processor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="gross_weight" jdbcType="DOUBLE" property="grossWeight" />
    <result column="process_technology" jdbcType="VARCHAR" property="processTechnology" />
    <result column="place_of_origin" jdbcType="VARCHAR" property="placeOfOrigin" />
    <result column="core_quantity" jdbcType="VARCHAR" property="coreQuantity" />
    <result column="applicable_scenarios" jdbcType="VARCHAR" property="applicableScenarios" />
    <result column="interfaces" jdbcType="VARCHAR" property="interfaces" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="warranty_period" jdbcType="VARCHAR" property="warrantyPeriod" />
    <result column="main_frequency" jdbcType="VARCHAR" property="mainFrequency" />
    <result column="cache" jdbcType="VARCHAR" property="cache" />
    <result column="power" jdbcType="VARCHAR" property="power" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, brand, gross_weight, process_technology, place_of_origin, core_quantity, 
    applicable_scenarios, interfaces, model, warranty_period, main_frequency, cache, 
    power
  </sql>
  <select id="selectByExample" parameterType="com.google.chrome.tools.model.mall.ProcessorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from processor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitEnd &gt; 0">
      limit #{limitStart,jdbcType=INTEGER}  , #{limitEnd,jdbcType=INTEGER}
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from processor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from processor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.google.chrome.tools.model.mall.ProcessorExample">
    delete from processor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.google.chrome.tools.model.mall.Processor">
    insert into processor (id, name, brand, 
      gross_weight, process_technology, place_of_origin, 
      core_quantity, applicable_scenarios, interfaces, 
      model, warranty_period, main_frequency, 
      cache, power)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{grossWeight,jdbcType=DOUBLE}, #{processTechnology,jdbcType=VARCHAR}, #{placeOfOrigin,jdbcType=VARCHAR}, 
      #{coreQuantity,jdbcType=VARCHAR}, #{applicableScenarios,jdbcType=VARCHAR}, #{interfaces,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{warrantyPeriod,jdbcType=VARCHAR}, #{mainFrequency,jdbcType=VARCHAR}, 
      #{cache,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.google.chrome.tools.model.mall.Processor">
    insert into processor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="grossWeight != null">
        gross_weight,
      </if>
      <if test="processTechnology != null">
        process_technology,
      </if>
      <if test="placeOfOrigin != null">
        place_of_origin,
      </if>
      <if test="coreQuantity != null">
        core_quantity,
      </if>
      <if test="applicableScenarios != null">
        applicable_scenarios,
      </if>
      <if test="interfaces != null">
        interfaces,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="warrantyPeriod != null">
        warranty_period,
      </if>
      <if test="mainFrequency != null">
        main_frequency,
      </if>
      <if test="cache != null">
        cache,
      </if>
      <if test="power != null">
        power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        #{grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="processTechnology != null">
        #{processTechnology,jdbcType=VARCHAR},
      </if>
      <if test="placeOfOrigin != null">
        #{placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="coreQuantity != null">
        #{coreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="applicableScenarios != null">
        #{applicableScenarios,jdbcType=VARCHAR},
      </if>
      <if test="interfaces != null">
        #{interfaces,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="warrantyPeriod != null">
        #{warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="mainFrequency != null">
        #{mainFrequency,jdbcType=VARCHAR},
      </if>
      <if test="cache != null">
        #{cache,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.google.chrome.tools.model.mall.ProcessorExample" resultType="java.lang.Integer">
    select count(*) from processor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update processor
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.grossWeight != null">
        gross_weight = #{record.grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.processTechnology != null">
        process_technology = #{record.processTechnology,jdbcType=VARCHAR},
      </if>
      <if test="record.placeOfOrigin != null">
        place_of_origin = #{record.placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="record.coreQuantity != null">
        core_quantity = #{record.coreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="record.applicableScenarios != null">
        applicable_scenarios = #{record.applicableScenarios,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaces != null">
        interfaces = #{record.interfaces,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.warrantyPeriod != null">
        warranty_period = #{record.warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.mainFrequency != null">
        main_frequency = #{record.mainFrequency,jdbcType=VARCHAR},
      </if>
      <if test="record.cache != null">
        cache = #{record.cache,jdbcType=VARCHAR},
      </if>
      <if test="record.power != null">
        power = #{record.power,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update processor
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      gross_weight = #{record.grossWeight,jdbcType=DOUBLE},
      process_technology = #{record.processTechnology,jdbcType=VARCHAR},
      place_of_origin = #{record.placeOfOrigin,jdbcType=VARCHAR},
      core_quantity = #{record.coreQuantity,jdbcType=VARCHAR},
      applicable_scenarios = #{record.applicableScenarios,jdbcType=VARCHAR},
      interfaces = #{record.interfaces,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      warranty_period = #{record.warrantyPeriod,jdbcType=VARCHAR},
      main_frequency = #{record.mainFrequency,jdbcType=VARCHAR},
      cache = #{record.cache,jdbcType=VARCHAR},
      power = #{record.power,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.google.chrome.tools.model.mall.Processor">
    update processor
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        gross_weight = #{grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="processTechnology != null">
        process_technology = #{processTechnology,jdbcType=VARCHAR},
      </if>
      <if test="placeOfOrigin != null">
        place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="coreQuantity != null">
        core_quantity = #{coreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="applicableScenarios != null">
        applicable_scenarios = #{applicableScenarios,jdbcType=VARCHAR},
      </if>
      <if test="interfaces != null">
        interfaces = #{interfaces,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="warrantyPeriod != null">
        warranty_period = #{warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="mainFrequency != null">
        main_frequency = #{mainFrequency,jdbcType=VARCHAR},
      </if>
      <if test="cache != null">
        cache = #{cache,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.google.chrome.tools.model.mall.Processor">
    update processor
    set name = #{name,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      gross_weight = #{grossWeight,jdbcType=DOUBLE},
      process_technology = #{processTechnology,jdbcType=VARCHAR},
      place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},
      core_quantity = #{coreQuantity,jdbcType=VARCHAR},
      applicable_scenarios = #{applicableScenarios,jdbcType=VARCHAR},
      interfaces = #{interfaces,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      warranty_period = #{warrantyPeriod,jdbcType=VARCHAR},
      main_frequency = #{mainFrequency,jdbcType=VARCHAR},
      cache = #{cache,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.google.chrome.tools.model.mall.Processor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="gross_weight" jdbcType="DOUBLE" property="grossWeight" />
    <result column="process_technology" jdbcType="VARCHAR" property="processTechnology" />
    <result column="place_of_origin" jdbcType="VARCHAR" property="placeOfOrigin" />
    <result column="core_quantity" jdbcType="VARCHAR" property="coreQuantity" />
    <result column="applicable_scenarios" jdbcType="VARCHAR" property="applicableScenarios" />
    <result column="interfaces" jdbcType="VARCHAR" property="interfaces" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="warranty_period" jdbcType="VARCHAR" property="warrantyPeriod" />
    <result column="main_frequency" jdbcType="VARCHAR" property="mainFrequency" />
    <result column="cache" jdbcType="VARCHAR" property="cache" />
    <result column="power" jdbcType="VARCHAR" property="power" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, brand, gross_weight, process_technology, place_of_origin, core_quantity, 
    applicable_scenarios, interfaces, model, warranty_period, main_frequency, cache, 
    power
  </sql>
  <select id="selectByExample" parameterType="com.google.chrome.tools.model.mall.ProcessorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from processor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitEnd &gt; 0">
      limit #{limitStart,jdbcType=INTEGER}  , #{limitEnd,jdbcType=INTEGER}
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from processor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from processor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.google.chrome.tools.model.mall.ProcessorExample">
    delete from processor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.google.chrome.tools.model.mall.Processor">
    insert into processor (id, name, brand, 
      gross_weight, process_technology, place_of_origin, 
      core_quantity, applicable_scenarios, interfaces, 
      model, warranty_period, main_frequency, 
      cache, power)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{grossWeight,jdbcType=DOUBLE}, #{processTechnology,jdbcType=VARCHAR}, #{placeOfOrigin,jdbcType=VARCHAR}, 
      #{coreQuantity,jdbcType=VARCHAR}, #{applicableScenarios,jdbcType=VARCHAR}, #{interfaces,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{warrantyPeriod,jdbcType=VARCHAR}, #{mainFrequency,jdbcType=VARCHAR}, 
      #{cache,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.google.chrome.tools.model.mall.Processor">
    insert into processor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="grossWeight != null">
        gross_weight,
      </if>
      <if test="processTechnology != null">
        process_technology,
      </if>
      <if test="placeOfOrigin != null">
        place_of_origin,
      </if>
      <if test="coreQuantity != null">
        core_quantity,
      </if>
      <if test="applicableScenarios != null">
        applicable_scenarios,
      </if>
      <if test="interfaces != null">
        interfaces,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="warrantyPeriod != null">
        warranty_period,
      </if>
      <if test="mainFrequency != null">
        main_frequency,
      </if>
      <if test="cache != null">
        cache,
      </if>
      <if test="power != null">
        power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        #{grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="processTechnology != null">
        #{processTechnology,jdbcType=VARCHAR},
      </if>
      <if test="placeOfOrigin != null">
        #{placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="coreQuantity != null">
        #{coreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="applicableScenarios != null">
        #{applicableScenarios,jdbcType=VARCHAR},
      </if>
      <if test="interfaces != null">
        #{interfaces,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="warrantyPeriod != null">
        #{warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="mainFrequency != null">
        #{mainFrequency,jdbcType=VARCHAR},
      </if>
      <if test="cache != null">
        #{cache,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.google.chrome.tools.model.mall.ProcessorExample" resultType="java.lang.Integer">
    select count(*) from processor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update processor
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.grossWeight != null">
        gross_weight = #{record.grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.processTechnology != null">
        process_technology = #{record.processTechnology,jdbcType=VARCHAR},
      </if>
      <if test="record.placeOfOrigin != null">
        place_of_origin = #{record.placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="record.coreQuantity != null">
        core_quantity = #{record.coreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="record.applicableScenarios != null">
        applicable_scenarios = #{record.applicableScenarios,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaces != null">
        interfaces = #{record.interfaces,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.warrantyPeriod != null">
        warranty_period = #{record.warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.mainFrequency != null">
        main_frequency = #{record.mainFrequency,jdbcType=VARCHAR},
      </if>
      <if test="record.cache != null">
        cache = #{record.cache,jdbcType=VARCHAR},
      </if>
      <if test="record.power != null">
        power = #{record.power,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update processor
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      gross_weight = #{record.grossWeight,jdbcType=DOUBLE},
      process_technology = #{record.processTechnology,jdbcType=VARCHAR},
      place_of_origin = #{record.placeOfOrigin,jdbcType=VARCHAR},
      core_quantity = #{record.coreQuantity,jdbcType=VARCHAR},
      applicable_scenarios = #{record.applicableScenarios,jdbcType=VARCHAR},
      interfaces = #{record.interfaces,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      warranty_period = #{record.warrantyPeriod,jdbcType=VARCHAR},
      main_frequency = #{record.mainFrequency,jdbcType=VARCHAR},
      cache = #{record.cache,jdbcType=VARCHAR},
      power = #{record.power,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.google.chrome.tools.model.mall.Processor">
    update processor
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        gross_weight = #{grossWeight,jdbcType=DOUBLE},
      </if>
      <if test="processTechnology != null">
        process_technology = #{processTechnology,jdbcType=VARCHAR},
      </if>
      <if test="placeOfOrigin != null">
        place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},
      </if>
      <if test="coreQuantity != null">
        core_quantity = #{coreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="applicableScenarios != null">
        applicable_scenarios = #{applicableScenarios,jdbcType=VARCHAR},
      </if>
      <if test="interfaces != null">
        interfaces = #{interfaces,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="warrantyPeriod != null">
        warranty_period = #{warrantyPeriod,jdbcType=VARCHAR},
      </if>
      <if test="mainFrequency != null">
        main_frequency = #{mainFrequency,jdbcType=VARCHAR},
      </if>
      <if test="cache != null">
        cache = #{cache,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.google.chrome.tools.model.mall.Processor">
    update processor
    set name = #{name,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      gross_weight = #{grossWeight,jdbcType=DOUBLE},
      process_technology = #{processTechnology,jdbcType=VARCHAR},
      place_of_origin = #{placeOfOrigin,jdbcType=VARCHAR},
      core_quantity = #{coreQuantity,jdbcType=VARCHAR},
      applicable_scenarios = #{applicableScenarios,jdbcType=VARCHAR},
      interfaces = #{interfaces,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      warranty_period = #{warrantyPeriod,jdbcType=VARCHAR},
      main_frequency = #{mainFrequency,jdbcType=VARCHAR},
      cache = #{cache,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>